.contentBloc{
  border-radius: 6px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(#C4C4C4, .10);
  overflow-y: scroll;

  .title-container{
    background: rgba(79,191,255,0.9200000166893005);
    border-top-left-radius: 6px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
    width: 200px;
    padding: 10px;
    text-align: center;
  }

  .content{
    padding: 20px;
  }
}
